.buffer-render-modal-wrap {
    bottom: unset;
    right: unset;
    left: 60px;
    top: 60px;
    overflow: visible;
}
.buffer-render-modal {
    transform-origin: 50% 50% !important;
    top: unset;
    padding: 0;
    margin: 0;
    .ant-form-item {
        margin-bottom: 5px;
    }
    .color-palette {
        z-index: 1;
    }
}
