.color-box {
    position: relative;
}

.color-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    background: #121923;
    font-size: 30px;
}

.color-palette {
    position: absolute;
    top: 26px;
    left: 50%;
    margin: 0 0 0 -110px;
    user-select: none;
}

.set-z-index {
    z-index: 1;
}
