.ad-attributes-modal {
    position: absolute;
    right: 0;
    top: 44px;
    left: unset;
    bottom: unset;

    .ant-modal {
        position: relative;
        top: 0;
        padding-bottom: 0;
        width: 300px !important;
    }

    .ant-modal-header {
        height: 40px;
        padding: 10px 16px;
    }

    .ant-modal-close-x {
        font-size: 12px;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    .ant-modal-body {
        padding: 4px 16px;
        overflow-y: auto;
        max-height: calc(100vh - 128px);
    }

    .ant-modal-footer {
        height: 40px;
        padding: 4px 16px;
    }

    .ant-form-item {
        margin-bottom: 8px;
    }

    .ant-form-item-label {
        text-align: left;

        .ant-form-item-required::before {
            content: none;
        }
    }

    .ant-input[disabled] {
        color: rgba(0, 0, 0, 0.65);
        background-color: #fff;
    }

    .ad-active-icon {
        background-color: aqua;
    }
}
