.batch-assign-modal-wrap {
    top: 300px;
    right: unset;
    bottom: unset;
    border-radius: 4px;
    overflow: hidden;
    left: 300px;
    line-height: 30px;

    .batch-assign {
        top: 0;
    }

    .ant-modal-content {
        background: rgba(255, 255, 255, 0.92) !important;
        .ant-modal-header {
            background: unset;
            padding: 10px 10px;
            background: linear-gradient(
                90deg,
                rgba(62, 127, 224, 1) 0%,
                rgba(62, 171, 255, 1) 100%
            );

            .ant-modal-title {
                width: 132px;
                height: 14px;
                font-size: 14px;
                font-family: Microsoft YaHei;
                font-weight: bold;
                color: rgba(255, 255, 255, 1);
            }
        }
        .ant-modal-body {
            padding: 10px 10px 20px 10px;
            font-size: 14px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
        }
        .batch-label {
            width: 88px;
            display: inline-block;
        }
        .batch-content {
            margin-left: 10px;
            width: 158px;
            display: inline-block;
        }
        box-shadow: unset;
    }
}
