.help-list {
    .ant-popover-inner-content {
        padding: 8px 16px 12px;
    }
}

.hotkey-list {
    margin-bottom: 13px;
    .kuaijiejian {
        font-size: 14px;
        color: #333;
    }
    span {
        cursor: pointer;
    }
    .modal-title {
        font-size: 20;
        font-weight: 600;
    }
}

.feedback {
    span {
        cursor: pointer;
    }
}
.feedback-content {
    .feedback-eg {
        font-size: 6px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: rgba(62, 127, 224, 1);
    }
    .path-content {
        .ant-descriptions-title {
            margin-top: 3px;
            margin-bottom: 0px;
        }
        .ant-descriptions-item-label,
        .ant-descriptions-item-content {
            font-size: 7px;
        }
    }
    .task-content {
        .ant-descriptions-title {
            margin-top: -13px;
            margin-bottom: 7px;
        }
        .ant-descriptions-item-label,
        .ant-descriptions-item-content {
            font-size: 7px;
        }
    }
    .feedback-title {
        margin-bottom: 5px;
        font-size: 7px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
    }
    .feedback-title::before {
        content: '';
        display: inline-block;
        width: 2px;
        height: 10px;
        background: rgba(62, 127, 224, 1);
        margin-right: 5px;
    }
}
.fail-modal,
.success-modal {
    font-size: 7px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}

.hotkey {
    height: 60vh;
    color: #000;
    overflow: auto;
    .hotkey-title {
        margin-left: 10px;
        font-size: 18px;
        font-weight: 600;
    }
    .child-text {
        margin-left: 30px;
    }
    .hotkey-label {
        width: 180px;
        display: inline-block;
    }
}
