.hotkey-list {
    width: 60px;
    height: 45px;
    text-align: center;
    bottom: 30px;
    position: fixed;
    .modal-title {
        font-size: 20;
        font-weight: 600;
    }
}

.hotkey-modal {
    .ant-modal-content {
        height: 80vh;
        position: relative;
    }
}

.hotkey {
    position: absolute;
    height: 85%;
    width: 95%;
    overflow: auto;
    color: #000;
    .hotkey-title {
        margin-left: 10px;
        font-size: 18px;
        font-weight: 600;
    }
    .child-text {
        margin-left: 30px;
    }
    .hotkey-label {
        width: 180px;
        display: inline-block;
    }
}
