.help-list {
    .ant-popover-inner-content {
        padding: 8px 16px 12px;
    }
}

.hotkey-list {
    margin-bottom: 13px;
    .kuaijiejian {
        font-size: 14px;
        color: #333;
    }
    span {
        cursor: pointer;
    }
    .modal-title {
        font-size: 20;
        font-weight: 600;
    }
}

.feedback,
.feedback-disabled {
    span {
        cursor: pointer;
    }
}
.feedback-disabled {
    color: #999;
}
.feedback-modal {
    .ant-modal-header {
        padding: 11px 24px 16px;
        height: 43px;
    }
    .ant-modal-close {
        top: -6px;
    }
}
.feedback-content {
    .feedback-eg {
        width: 256px;
        height: 13px;
        font-size: 12px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: rgba(62, 127, 224, 1);
        margin-top: -11px;
        margin-bottom: 11px;
    }
    .path-content {
        .ant-descriptions-title {
            margin-bottom: 4px;
        }
    }
    .task-content {
        .ant-descriptions-title {
            margin-top: -10px;
            margin-bottom: 11px;
        }
    }
    .ant-descriptions-item-label,
    .ant-descriptions-item-content {
        font-size: 14px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
    }
    .feedback-title {
        width: 88px;
        height: 15px;
        font-size: 14px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
    }
    .feedback-title::before {
        content: '';
        display: inline-block;
        width: 3px;
        height: 11px;
        background: rgba(62, 127, 224, 1);
        margin-right: 5px;
    }
}
.fail-modal,
.success-modal {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    p {
        margin-bottom: 9px;
    }
}
.cancelBtn {
    width: 64px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(215, 215, 215, 1);
    border-radius: 4px;
}

.hotkey {
    height: 60vh;
    color: #000;
    overflow: auto;
    .hotkey-title {
        margin-left: 10px;
        font-size: 18px;
        font-weight: 600;
    }
    .child-text {
        margin-left: 30px;
    }
    .hotkey-label {
        width: 180px;
        display: inline-block;
    }
}
