.multi-function-table-wrap {
    height: 100%;
    .multi-function-table,
    .multi-function-table-init {
        padding: 0 10px;

        .ant-table {
            padding-bottom: 42px;
            color: #000;
            height: 100%;

            .ant-table-placeholder {
                border-bottom: none;
            }

            .ant-table-body {
                /*滚动条样式*/
                &::-webkit-scrollbar {
                    /*滚动条整体样式*/
                    margin-right: -10px;
                    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
                    height: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    /*滚动条里面小方块*/
                    border-radius: 0;
                    background: #b7b7b7;
                }
                &::-webkit-scrollbar-track {
                    /*滚动条里面轨道*/
                    border-radius: 0;
                    background: #e5e5e5;
                }
            }

            table {
                overflow: hidden;
                table-layout: fixed;
                min-width: max-content;
                width: max-content;
                height: min-content;
                border-collapse: collapse;
            }

            th,
            td {
                background: #fff;
                padding: 6px 12px;
                border: 1px solid #e8e8e8;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #333;
            }
            td:hover {
                background: #def3ff !important;
            }

            td > div {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .table-row.un-ellipsis {
                th,
                td,
                td > div {
                    white-space: unset;
                }
            }

            .table-row-0 td {
                border-top: none;
            }

            th.ant-table-column-has-actions.ant-table-column-has-filters {
                padding-right: 12px !important;
            }

            .active {
                border: 2px solid #3e7fe0;
                td {
                    background-color: #def3ff;
                    color: #3e7fe0;
                }
            }

            .ant-dropdown-menu-without-submenu {
                max-height: 130px;
                overflow-y: scroll;
            }

            // 可伸缩列表格样式
            .react-resizable {
                position: relative;
                background-clip: padding-box;
            }

            .react-resizable-handle {
                position: absolute;
                width: 10px;
                height: 100%;
                bottom: 0;
                right: -5px;
                cursor: col-resize;
                z-index: 1;
            }

            .ant-select-dropdown {
                z-index: 99999;
            }
        }
    }

    .multi-function-table-init {
        //初始表格样式
        padding-bottom: 30px;
    }

    .table-pagination {
        position: absolute;
        bottom: 65px;
        right: 2px;
    }

    .table-pagination-init {
        //初始分页样式
        position: absolute;
        bottom: 11px;
        right: 2px;
        margin-bottom: -17px;
    }

    .ant-dropdown {
        z-index: 999999;
    }

    .table-footer {
        position: absolute;
        bottom: 23px;
        left: 10px;
        width: 85px;
    }

    .reset-button {
        height: 28px;
        font-size: 12px;
    }

    .ant-table-body {
        height: calc(100% - 120px);
        .ant-table-fixed {
            height: min-content;
        }
    }

    .ant-spin-nested-loading,
    .ant-spin-container,
    .ant-table-content,
    .ant-table-scroll {
        height: 100%;
    }
}
