.ant-popover-content {
    .point-cloud {
        width: 300px;
        height: 285px;
        display: flex;
        .point-cloud-left {
            height: 100%;
            width: 40%;
            box-shadow: 0 0 9px #ddd;
            padding: 10px;
        }
        .point-cloud-right {
            height: 100%;
            width: 60%;
            .point-cloud-right-content {
                height: 30%;
            }
            .point-cloud-right-content-top {
                height: 70%;
            }
            .point-cloud-right-content,
            .point-cloud-right-content-top {
                box-shadow: 0 0 9px #ddd;
                padding: 10px;
                .flex-1 {
                    .ant-slider-handle {
                        margin-top: -1px;
                    }
                }
            }
        }
    }
}
