.qc-marker-modal {
    top: 60px;
    left: 60px;
    right: unset;
    bottom: unset;

    .ant-modal {
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }

    .ant-modal-header {
        height: 40px;
        padding: 10px 14px;
        .ant-modal-title {
            font-size: 15px;
        }
    }

    .ant-modal-close-x {
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 12px;
    }

    .ant-modal-content {
        border-radius: unset;
        background: rgba(255, 255, 255, 0.93);
    }

    .ant-modal-body {
        padding: 0;
    }

    .cancel-button {
        color: #868686;
        border-color: #3d3d3d;
    }

    .title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        padding: 0 0 0 14px;
        background-color: #fff;
        font-size: 15px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
        .close-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            font-size: 12px;
            color: #666;
        }
    }

    .content-wrap {
        padding: 6px 14px;
    }

    .footer-wrap {
        padding: 10px 14px;
        text-align: right;
        button {
            margin: 0 0 0 10px;
        }
    }
}
