.quality-check-result-modal-wrap {
    position: absolute;
    top: unset;
    bottom: 20px;
    left: calc(50% - 500px);
    width: 1000px;

    .quality-check-result-modal {
        overflow: hidden;
        box-sizing: border-box;
        height: 100%;
        border: 4px solid transparent;
        border-radius: 4px;

        &.ant-modal {
            top: 0;
            padding-bottom: 0;
        }

        .ant-modal-content {
            height: 100%;
            background: rgba(255, 255, 255, 0.92);
            .ant-tabs-nav .ant-tabs-tab-active {
                color: #3e7fe0 !important;
            }
            .ant-tabs-ink-bar {
                background-color: #3e7fe0 !important;
            }
        }

        .close-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            width: 45px;
            font-size: 16px;
            color: #666;
        }

        .drag-dom {
            position: absolute;
            top: 0;
            left: 88px;
            width: calc(100% - 88px - 45px);
            height: 45px;
            z-index: 99999;
        }

        .check-result-table {
            padding: 0 10px;

            .ant-table {
                padding-bottom: 42px;
                color: #000;
            }

            .ant-table-placeholder {
                border-bottom: none;
            }

            .ant-table-body {
                /*滚动条样式*/
                &::-webkit-scrollbar {
                    /*滚动条整体样式*/
                    margin-right: -10px;
                    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
                    height: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    /*滚动条里面小方块*/
                    border-radius: 0;
                    background: #b7b7b7;
                }
                &::-webkit-scrollbar-track {
                    /*滚动条里面轨道*/
                    border-radius: 0;
                    background: #e5e5e5;
                }
            }

            table {
                overflow: hidden;
                table-layout: fixed;
                width: 100%;
                border-collapse: collapse;
            }

            th,
            td {
                background: #fff;
                padding: 6px 12px;
                border: 1px solid #e8e8e8;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #333;
            }
            td:hover {
                background: #def3ff !important;
            }

            td > div {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .check-table-row.un-ellipsis {
                th,
                td,
                td > div {
                    white-space: unset;
                }
            }

            .check-table-row-0 td {
                border-top: none;
            }

            th.ant-table-column-has-actions.ant-table-column-has-filters {
                padding-right: 12px !important;
            }

            .visited {
                color: #3e7fe0;
            }

            .active {
                border: 2px solid #3e7fe0;
                td {
                    background-color: #def3ff;
                }
            }

            .check-table-pagination {
                position: absolute;
                bottom: -6px;
                right: 2px;
            }

            .ant-dropdown {
                z-index: 999999;
            }

            .ant-dropdown-menu-without-submenu {
                max-height: 130px;
                overflow-y: scroll;
            }
        }

        .ant-checkbox-group-item {
            display: block;
        }

        .check-table-footer {
            position: absolute;
            bottom: 8px;
            left: 10px;
            width: 85px;
        }

        .reset-button {
            height: 28px;
            font-size: 12px;
        }

        .ant-tabs-bar {
            margin-bottom: 10px;
        }
    }

    // 可伸缩列表格样式
    .react-resizable {
        position: relative;
        background-clip: padding-box;
    }

    .react-resizable-handle {
        position: absolute;
        width: 10px;
        height: 100%;
        bottom: 0;
        right: -5px;
        cursor: col-resize;
        z-index: 1;
    }

    .ant-select-dropdown {
        z-index: 99999;
    }
}
