.quality-check-result-modal-wrap {
    top: unset !important;
    bottom: 10px !important;
    left: calc(50% - 500px) !important;
    .close-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        font-size: 16px;
        color: #666;
    }

    .drag-dom {
        position: absolute;
        top: 0;
        z-index: 99999;
    }

    .check-result-table {
        padding: 0 10px 10px;

        .ant-table {
            border-bottom: 1px solid #e8e8e8;
        }

        .ant-table-body {
            /*滚动条样式*/
            &::-webkit-scrollbar {
                /*滚动条整体样式*/
                margin-right: -10px;
                width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
                height: 10px;
            }
            &::-webkit-scrollbar-thumb {
                /*滚动条里面小方块*/
                border-radius: 0;
                background: #b7b7b7;
            }
            &::-webkit-scrollbar-track {
                /*滚动条里面轨道*/
                border-radius: 0;
                background: #e5e5e5;
            }
        }

        table {
            overflow: hidden;
            max-height: 270px;
            border-collapse: collapse;
        }

        th,
        td {
            background: #fff;
            padding: 6px 12px;
            border: 1px solid #e8e8e8;
            font-size: 12px;
        }

        .check-table-row-0 td {
            border-top: none;
        }

        th.ant-table-column-has-actions.ant-table-column-has-filters {
            padding-right: 12px !important;
        }

        .ant-table {
            color: #000;
        }

        .visited {
            color: #1890ff;
        }

        .check-table-row-active {
            border: 2px solid red;
        }
    }

    .ant-modal-content {
        overflow: hidden;
    }

    .ant-checkbox-group-item {
        display: block;
    }
}
