.render-mode {
    .title-wrap {
        padding: 0 12px;
        line-height: 45px;
        font-size: 16px;
        font-weight: bold;
    }

    .modal-body {
        padding: 0px 12px 12px;

        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0 10px;
            text-align: center;

            li {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: calc(50% - 20px);
                height: 140px;
                margin: 10px;
                border: 5px solid #999;
                cursor: pointer;

                div {
                    width: 100%;
                }

                p.desc {
                    height: 50px;
                    margin: 10px 0 0;
                    white-space: pre-wrap;
                }

                &.on {
                    border-color: #1890ff;
                }
            }
        }

        .button-wrap {
            display: flex;
            justify-content: flex-end;
            margin: 6px 0;
        }
    }
}

.relation-render-mode {
    position: fixed;
    z-index: 99999;
    right: 40px;
    top: 51px;
    overflow: hidden;
    border-radius: 4px;
    width: 240px;
    background: #fff;

    &.move {
        right: 600px;
    }

    dl {
        display: block;
        margin: 0;
        padding: 10px;
        border-top: 1px solid #b3b3b3;
        text-align: left;
        line-height: 22px;
    }

    dt,
    dd {
        padding: 0;
        margin: 0;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 38px;
        padding: 0 10px;
        color: #333;
        .arrow {
            transition: transform 200ms;
        }
        .up {
            transform: rotate(180deg);
        }
    }
}
