.resource-layer {
    .ant-popover-inner-content {
        width: 250px;
        word-break: break-all;
        max-height: calc(100vh - 180px);
        overflow-y: auto;

        /*滚动条样式*/
        &::-webkit-scrollbar {
            /*滚动条整体样式*/
            margin-right: -12px;
            width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
            height: 10px;
        }
        &::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 12px;
            background: #b7b7b7;
        }
        &::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            border-radius: 12px;
            background: #e5e5e5;
        }
    }

    .multi-project-item {
        padding: 0 0 0 20px;
    }

    .project-checked-label {
        display: inline-flex;
        align-items: center;
    }

    .lock-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10px;
        width: 40px;
        font-size: 20px;
        color: #17bd62;
    }
}
