.ad-sider {
    height: calc(100vh - 50px);

    .ad-sider-bar {
        background: #363636;
        height: 100%;
        padding-top: 10px;
    }

    .ad-sider-item {
        width: 60px;
        height: 45px;
    }

    .ad-menu-icon {
        font-size: 20px;
        color: #bbb;
    }

    .ad-menu-icon:hover {
        color: #fff;
    }

    .ant-menu-item {
        margin-bottom: 0 !important;
        font-size: 12px !important;
        height: 30px !important;
        line-height: 30px !important;
    }

    .ant-menu-item:last-child {
        margin-bottom: 4px !important;
    }

    .ant-menu-item:hover {
        background-color: #eee;
    }

    .check-group {
        margin: 0 0 0 10px;
    }

    .menu-item-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .task-start-button {
        margin: 0 0 0 10px;
        padding: 0;
        height: 22px;
        width: 46px;
        text-align: center;
        font-size: 12px;
    }
}
