.ad-sider {
    height: calc(100vh - 40px);

    .ad-sider-bar {
        background: rgba(0, 0, 0, 0.85);
        height: 100%;
    }

    .ad-sider-item {
        width: 50px;
        height: 45px;
    }

    .ad-menu-icon {
        cursor: pointer;
        font-size: 20px;
        color: #bbb;
    }

    .ad-menu-icon:hover {
        color: #fff;
    }
}
