.ad-sider {
    flex-direction: column;
    width: 60px;
    height: calc(100vh - 50px);
    background: #363636;
    color: #fff;

    .ad-sider-bar {
        flex: 1;
        padding-top: 10px;
    }

    .ad-sider-item {
        height: 45px;
    }

    .ad-sider-bottom-item {
        width: 60px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        svg {
            width: 16px;
            height: 16px;
        }
    }

    .sider-break-line,
    .sider-break-line1 {
        height: 2px;
        background: rgb(145, 145, 146);
        width: 48px;
        margin-left: 6px;
    }

    .ad-menu-icon {
        font-size: 20px;
        color: #bbb;
    }

    .ad-menu-icon:hover {
        color: #fff;
    }

    .ant-menu-item {
        margin-bottom: 0 !important;
        font-size: 12px !important;
        height: 30px !important;
        line-height: 30px !important;
        padding: 0 0 0 18px !important;
    }

    .ant-menu-item-selected {
        color: #3e7fe0 !important;
    }

    .ant-menu-item:last-child {
        margin-bottom: 4px !important;
    }

    .ant-menu-item:hover {
        background-color: #eee;
    }

    .check-group {
        margin: 0 0 0 10px;
    }

    .menu-item-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    .task-start-button {
        margin: 0 0 0 10px;
        padding: 0;
        height: 24px;
        width: 24px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        color: #3e7fe0;
        background-color: unset !important;
        font-size: 18px !important;
        display: inline-block;
        border: unset;
    }

    .task-start-button[disabled] {
        color: rgba(0, 0, 0, 0.25);
        background-color: #f5f5f5;
        border-color: #d9d9d9;
        text-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .data-layer {
        .ant-popover-inner-content {
            padding: 0;
            min-width: 180px;
        }
        .ant-popover-inner {
            overflow: hidden;
        }
        .vectors-wrap {
            .vectors-title-ul {
                display: flex;
                width: 240px;
                margin: 0;
                padding: 0;
                text-align: center;
                line-height: 35px;
                cursor: pointer;
                user-select: none;
                li {
                    list-style-type: none;
                    width: 50%;
                    background: #fff;
                    border-bottom: 1px solid #ccc;
                    &.on {
                        background: #fff;
                        border-bottom: 1px solid #3e7fe0;
                        color: #3e7fe0;
                    }
                }
            }
            .vectors-content-wrap {
                padding: 8px 16px 12px;
            }
        }
    }
}
