.ad-icon {
    color: #dddddd;
    font-size: 16px;
    margin: 10px;
}

.ad-disabled-icon {
    color: #808080;
    cursor: inherit !important;
}

.ad-icon-active-topview {
    color: #18a2ff;
    font-size: 16px;
    margin: 10px;
}

.ad-icon-active {
    background: rgba(225, 225, 225, 0.3);
    display: inline-block;
    position: relative;
}

.ad-icon-active:after {
    content: ' ';
    background-color: #18a2ff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
}

.ad-slider-box {
    text-align: center;
    color: #9e9e9e;
    .ad-slider-vertical {
        margin: 10px auto !important;
        height: 100px;
    }
}
