.view-attribute-modal-wrap {
    top: 80px;
    right: unset;
    bottom: unset;
    width: 780px;
    background: #fff;
    border-radius: 4px;
    left: calc(50% - 390px);

    .view-attribute-modal {
        top: 0;
        height: 100%;
        padding-bottom: 0;
    }

    .ant-modal-content {
        height: 100%;
    }

    // 收起展开样式
    table {
        overflow: hidden;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        th,
        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .un-ellipsis {
            th,
            td {
                white-space: unset;
            }
        }
    }

    .ant-table-body {
        max-height: 70vh;
    }

    .layer-select {
        min-width: 125px;
    }
    .ant-pagination {
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

    // 可伸缩列表格样式
    .react-resizable {
        position: relative;
        background-clip: padding-box;
    }

    .react-resizable-handle {
        position: absolute;
        width: 10px;
        height: 100%;
        bottom: 0;
        right: -5px;
        cursor: col-resize;
        z-index: 1;
    }
}
