.set-compass {
    i.anticon {
        font-size: 36px;
    }
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

.viz-box {
    cursor: url('../../img/openhand.cur') 8 8, default;
}

.ative-viz {
    cursor: url('../../img/closedhand.cur') 8 8, move;
}
