.set-compass {
    i.anticon {
        font-size: 36px;
    }

    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    color:#fff;
}

.save-time-view {
    position: absolute;
    bottom: 20px;
    right: 80px;
    z-index: 999;
    color: #ededed;
}

.edit-viz {
    cursor: url('../../img/edit.cur') 0 16, move !important;
}

.ruler-viz {
    cursor: url('../../img/ruler.cur') 2 6, crosshair;
}

.shape-viz {
    cursor: url('../../img/huizhi2.png') 12 12, crosshair;
}

.move-point-viz canvas {
    cursor: url('../../img/shubiaoyidong1.png') 0 0, crosshair !important;
}

.crosshair-viz canvas {
    cursor: crosshair !important;
}

.zoom-scale {
    height: 45px;
}