.set-compass {
    i.anticon {
        font-size: 36px;
    }
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

.edit-viz {
    cursor: url('../../img/edit.cur') 0 16, move !important;
}

.ative-viz {
    cursor: url('../../img/closedhand.cur') 8 8, default;
}

.ative-right-viz {
    cursor: move;
}

.ruler-viz {
    cursor: url('../../img/ruler.cur') 2 6, crosshair;
}

.shape-viz {
    cursor: url('../../img/huizhi2.png') 2 6, crosshair;
}

.del-viz {
    cursor: url('../../img/yidongxingzhuangdian1.png') 2 6, crosshair;
}

.zoom-scale {
    height: 45px;
}
