{
  "presets":["react-app", "@babel/preset-react"],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}