.board-wrap {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 999;
    overflow: hidden;
    .board-header {
        width: 100%;
        height: 40px;
        padding-right: 13px;
        background: #1f283a;
        display: flex;
        justify-content: space-between;
        .board-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            padding-left: 8px;
            .logo {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 24px;
                width: 80px;
                margin-right: 8px;
            }
            .ultron-logo {
                height: 12px;
            }
            .gohome {
                display: flex;
                justify-content: center;
                min-width: 40px;
                color: #1ec9e9;
                height: 40px;
                font-size: 18px;
                align-items: center;
                background: #1b2334;
            }
            .name {
                color: #1ec9e9;
                margin-left: 12px;
                font-weight: bold;
                font-size: 18px;
                padding-top: 8px;
                height: 40px;
                /* color: rgb(255, 92, 53); */
                font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
            }
        }
        .avatar-img {
            width: 26px;
        }
    }
    .board-content {
        width: 100%;
        height: calc(100vh - 40px);
        display: flex;
        // background: #030d1c;
        .board-gutter-row {
            color: #fff;
            h2 {
                color: #c1c1c1;
            }
            .ant-btn-link {
                color: #8b8b8b;
            }
            .board-gutter-right {
                img {
                    height: 346px;
                }
            }
        }
        // .board-slider {
        //     width: 40px;
        //     height: calc(100vh - 40px);
        //     background: #4a4a4c;
        // }
        .board-main {
            width: 100%;
            padding-left: 100px;
            padding-right: 20px;
            padding-top: 62px;
            overflow-y: scroll;
            .name {
                font-size: 50px;
                color: #1ec9e9;
                margin-bottom: 30px;
            }
        }
        .board-gutter-btn {
            margin-bottom: 30px;
            .ant-btn {
                padding-left: 0;
            }
        }
        .board-card-wrapper {
            padding-top: 8px;
            display: flex;
            .ant-card {
                width: 300px;
                background-color: inherit;
                margin-right: 20px;
            }
            .ant-card-head {
                background: #1b2029;
                padding: 0;
                min-height: inherit;
                padding-left: 8px;
                font-size: 14px;
                color: #fff;
                .ant-card-head-title {
                    padding: 2px;
                }
            }
            .ant-card-body {
                padding: 0;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                .board-history-img {
                    width: 100%;
                    height: 177px;
                    background-position: 50%;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .board-mask {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.8;
        background: #0c0c0c;
        width: 100%;
        height: 100%;
    }
}
