#home {
    .header {
        padding: 0 22px 0 60px;
        height: 60px;
        background: #1c2028;
        line-height: unset;
    }

    .logo-content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 150px;
        height: 60px;
        color: #fff;

        .logo {
            width: 110px;
        }
    }

    .tool-container {
        padding-left: 100px;

        .bianjituceng {
            display: flex;
            align-items: center;
        }
    }

    .viz-content {
        background-color: #000;
        position: relative;
        display: flex;
    }

    .viz-box {
        background-color: #000;
        position: relative;
        height: 100%;
        flex: auto;
    }

    .task-manage {
        .ant-popover-inner {
            overflow: hidden;
        }

        .ant-popover-inner-content {
            padding: 0;
        }
    }

    .avatar-img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        user-select: none;
    }
}

.logout-item {
    padding-left: 0px !important;
    color: #333;
}

.ant-message {
    top: 60px !important;
}
