.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-start-center {
    justify-content: flex-start;
    align-items: center;
}

.flex-end-center {
    justify-content: flex-end;
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-1 {
    flex-grow: 1;
}

.anticon {
    cursor: pointer;
}

.ad-icon {
    color: #dedede !important;
    font-size: 16px;
    margin: 10px;
}
