//
// functions
//----------------------------
//Clearfix
@mixin clearfix() {
  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
@mixin nouserselect() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
// v middle
@mixin v-center() {
  &:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
  }
}
// Center-align a block level element
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// Placeholder text
@mixin placeholder($color: $input-color-placeholder) {
  &:-moz-placeholder {
    color: $color;
  }
  // Firefox 4-18
  &::-moz-placeholder {
    color: $color;
  }
  // Firefox 19+
  &:-ms-input-placeholder {
    color: $color;
  }
  // Internet Explorer 10+
  &::-webkit-input-placeholder {
    color: $color;
  }
  // Safari and Chrome
}
// css3
//------------------------------------------
//border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}
// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  filter: alpha(opacity=($opacity * 100));
}
//for ie
@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
@mixin linear-gradient($colorfrom,$colorto) {
  background: linear-gradient($colorfrom, $colorto);
  background: -webkit-linear-gradient($colorfrom, $colorto);
  background: -moz-linear-gradient($colorfrom, $colorto);
}
@mixin blur($color) {
  -moz-filter: blur($color);
  -webkit-filter: blur($color);
  -o-filter: blur($color);
  -ms-filter: blur($color);
  filter: blur($color);
}