@charset "UTF-8";
@import "vars";
@import "animate";
body,
html {
  font-family: $font-family;
  font-size: 13px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //font-weight: 500;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: $font-color;
  word-wrap: break-word;
  overflow: auto;

  a {
    text-decoration: none;
    color: $link-color;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }

    &:active,
    &:hover,
    &:link,
    &:visited {
      outline: 0;
      text-decoration: none;
    }

    &:visited {
      //color: inherit;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #111;
    font-weight: normal;
  }

  h1,
  h2 {
    font-size: 20px;
    margin: 0;
  }

  h3,
  h4 {
    font-size: 14px;
    margin: 0;
  }

  h5,
  h6 {
    font-size: 12px;
    margin: 0;
  }

  label,
  th {
    font-weight: 500;
  }
}

img {
  vertical-align: middle;
  border: 0;
}

dd,
dl,
ol,
p,
textarea,
ul {
  margin: 0;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}

textarea {
  -webkit-appearance: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: $link-color !important;
  @include transition(border-color ease-in-out 0.1s);

  input[type="search"] {
    border: none;
  }
}

i[class^="ion"] {
  vertical-align: middle;
  margin-right: 8px;

  & + span {
    vertical-align: middle;
  }
}

input[type="radio"] {
  position: relative;
  top: 2px;
}
input[type="file"] {
  padding-top: 2px;
  line-height: 0;
}
footer {
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
}
