@charset "UTF-8";

.nav-tabs {
  li > a {
    font-size: 14px;
    color: #666666;
    text-align: left;

    &:focus {
      color: #666666;
    }

    &:hover {
      color: #3c87c9;
      background: none;
      border-color: transparent;
    }

    &:active {
      color: #666666;
    }
  }

  li.active > a {
    font-size: 14px;
    color: #3c87c9;
    text-align: left;
    border: none;
    border-bottom: 3px solid #3a7ee4;
    padding: 11px 16px 10px;

    &:focus {
      border: none;
      color: #3c87c9;
      border-bottom: 3px solid #3a7ee4;
    }

    &:hover {
      border: none;
      color: #3c87c9;
      border-bottom: 3px solid #3a7ee4;
    }
  }
}

.nav-tabs-custom > .nav-tabs > li {
  border-top: none;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top: none;
}

.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  font-size: 14px;
  color: #3c87c9;
  text-align: left;
  padding: 11px 16px 10px;
}

.tabbable.tabs-left > ul {
  border: none;
  padding-right: 0;
  min-height: 300px;
  border-right: 1px solid #f4f4f4;
}

.tabbable.tabs-left > ul > li {
  float: inherit;
  width: 100%;
  border: none;
}

.tabbable.tabs-left > ul > li:first-child > a {
  margin-top: 0;
}

.tabbable.tabs-left > ul > li > a {
  background: #f2f2f2;
  color: #222;
  right: -1px;
  margin-top: 2px;
  margin-right: 0;
  border-radius: 0 !important;
}

.tabbable.tabs-left > ul > li.active > a,
.tabbable.tabs-left > ul > li.active > a:hover {
  background: #fff;
  right: -1px;
  border-left: 1px solid #f4f4f4;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.tabbable.tabs-left > ul > li:last-child.active > a {
  border-bottom: 1px solid #f4f4f4;
}

.tabbable.tabs-left > ul > li > a,
.tabbable.tabs-left > ul > li > a:hover {
  border: none;
}

.modal .nav-tabs-custom .detail_content {
  border: none;
  padding: 0;
}

.tabbable.tabs-left > .tab-content {
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  border-left: none;
  min-height: 300px;
}

//
.container {
  width: 838px;
  height: 39px;
  line-height: 39px;
  margin: 0 auto 15px;
  padding: 0;
  background: #edf0f5;
  border: 1px solid #e0e1e4;
  color: #2f3a46;
}

.container div {
  text-align: center;
  width: 215px;
  float: left;
  background: #EDF0F5;
  position: relative;
  height: 39px;
}

.container div:last-child {
  margin: 0;
  width: 223px;
}

.container div:first-child.active:after,.container .first-child.active:after {
  border: none;
}

.container div.active {
  background-image: linear-gradient(-180deg, #72baed 0%, #59a6e7 77%, #54a1e7 97%);
  font-family: HiraginoSansGB-W6;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,0.50);
  text-align: center;
}

.container div.active:before {
  border-top: 19px solid #EDF0F5;
  border-bottom: 20px solid #EDF0F5;
  border-left: 20px solid rgba(95, 173, 232, 0.5);
  right: 0;
  position: absolute;
  z-index: 1;
}

.container div.active:after {
  border-top: 19px solid #6CB5EC;
  border-bottom: 20px solid #59A6E7;
  border-left: 20px solid #EDF0F5;
  right: 100%;
  position: absolute;
  z-index: 1;
}

.container div.passive:after {
  right: 10px;
  position: absolute;
  width: 1px;
  height: 39px;
  background: #e0e1e4;
  transform: scale(0.707) rotate(45deg);
  top: 10px;
}

.container div.passive:before {
  right: 10px;
  position: absolute;
  width: 1px;
  height: 39px;
  background: #e0e1e4;
  transform: scale(0.707) rotate(-45deg);
  top: -9px;
}

.container div.step1.complat:before,
.container div.step2.complat:before,
.container div.step3.complat:before {
  right: 10px;
  position: absolute;
  width: 1px;
  height: 39px;
  background: #e0e1e4;
  transform: scale(0.707) rotate(-45deg);
  top: -9px;
}

.container div.step1.complat:after,
.container div.step2.complat:after,
.container div.step3.complat:after {
  right: 10px;
  position: absolute;
  width: 1px;
  height: 39px;
  background: #e0e1e4;
  transform: scale(0.707) rotate(45deg);
  top: 10px;
}

.container div:last-child.active:before {
  border: none;
}

.container div:after,
.container div:before {
  content: '';
  display: block;
  top: 0;
}
.container div:last-child:after,
.container div:last-child:before {
  display: none;
}
.container div:last-child.active:after,
.container div:last-child.active:before {
  content: '';
  display: block;
  top: 0;
}

.container2 div {
  width: 50%;
}

.container2 div:last-child {
  width: 50%;
}

.container3 div {
  width: 33.3%;
}

.container3 div.active:after {
  right: 100%;
}

.container3 div:last-child {
  width: 33.3%;
}

.container3 div:last-child.active:before {
  border: none;
}

.container4 div {
  width: 25%;
}
.container5 div {
  width: 20%;
}
.container.container5 div:last-child{
  width: 20%;
}

.container4 div.active:after {
  right: 100%;
}

.container4 div:last-child {
  width: 25%;
}

.container4 div:last-child.active:before {
  border: none;
}

.container4 div.step4.active:after {
  right: 100%;
}

.container.container6 div {
  width: 16.6%;
}
.container.container6 div:last-child{
  width: 17%;
}


.container.container6 div:last-child.active:before {
  border: none;
}

.omyLabel {
  margin-bottom: 0;
  line-height: 30px;
  text-align: right;
}
