$font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
$main-width: 100%; //colors
//-----------------------
//-----------------------
$body-bg: #fff;
$font-color: #333333; //link color
//-----------------------
$link-color: rgb(24, 144, 255);
$link-hover-color: #be0101; //form
$input-color-placeholder: #AEAEAE;
$border-color: #E6D7D1;
//----------modal-tab
$tab-color: #fff;
$tab-background: linear-gradient(-180deg, #72baed 0%, #59a6e7 77%, #54a1e7 97%);
$tab-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
$tab-border: 1px solid #5fa2de;