#newEdit {
    border-top: 1px dashed #ccc;
    // background-color: #e1f9ff;
    margin-bottom: 14px;
    .attr {
        margin-right: 5px;
        text-align: right;
        padding-top: 14px;
        button {
            background-color: #f9f9f9;
        }
        .newEdit-edit {
            padding: 0 10px;
        }
        .newEdit-del {
            padding: 0 10px;
        }
    }
}
