.search-icon-box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    .ant-select {
        padding: 20px 0;
    }
    .search-label-icon {
        align-self: flex-start;
        margin: -70px 0 0 162px;
    }
    .set-icon-group {
        height: 150px;
        overflow: auto;
        .ad-icon {
            margin-right: 8px;
        }
    }
    .set-icon-group::-webkit-scrollbar {
        width: 1px;
    }
}
